<md-grid-list cols="3" rowHeight="40px">
  <md-grid-tile>
    Symbol
  </md-grid-tile>
  <md-grid-tile>
    Price
  </md-grid-tile>
  <md-grid-tile>
    Change
  </md-grid-tile>
  <!-- <md-grid-tile>
    Volume
  </md-grid-tile> -->
</md-grid-list>

<md-grid-list *ngFor='let m of quotes' cols="3" rowHeight="40px">
  <md-grid-tile> {{m.symbol}}
  </md-grid-tile>
  <md-grid-tile>
    {{m.latestPrice| number:'.1-2'}}
  </md-grid-tile>
  <md-grid-tile [ngClass]="{'positive': m.changePercent>0, 'negative': m.changePercent<0}">
    {{m.changePercent*100 | number:'.1-3'}}%
  </md-grid-tile>
  <!-- <md-grid-tile>
     <md-grid-tile [style.background]="'#DDBDF1'">
    {{m.avgTotalVolume}}
  </md-grid-tile> -->
</md-grid-list>