<md-grid-list cols="4" rowHeight="58px">
  <md-grid-tile>
    Company Name
  </md-grid-tile>
  <md-grid-tile>
    LatestPrice
  </md-grid-tile>
  <md-grid-tile>
    Previous Close
  </md-grid-tile>
  <md-grid-tile>
    Volume
  </md-grid-tile>
</md-grid-list>

<md-grid-list *ngFor='let m of quotes' cols="4" rowHeight="58px">
  <md-grid-tile> {{m.symbol}}
  </md-grid-tile>
  <md-grid-tile>
    {{m.latestPrice}}
  </md-grid-tile>
  <md-grid-tile>
    {{m.previousClose}}
  </md-grid-tile>
  <md-grid-tile>
    <!-- <md-grid-tile [style.background]="'#DDBDF1'"> -->
    {{m.avgTotalVolume}}
  </md-grid-tile>
</md-grid-list>