md-grid-tile {
  display: flex;
  font-family: Arial;
  font-size: 12px;

}

.positive {
    border-radius: 20%;
    background: #73AD21;
}
.negative {
    border-radius: 20%;
    background: #E94340;
}

md-grid-list{
    padding: 2px;
  margin: 4px;
}